body {
    direction: rtl;
    background-color: #363C40;
}

#container {
    width: 960px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FBFBFD;
    -webkit-box-shadow: 30px 30px 80px 1px #000000;
    box-shadow: 30px 30px 80px 1px #000000;
}

#img1 {
    width: 636px;
    float: right;
}

#txt1 {
    height: 182px;
    text-align: center;
    font-size: 61px;
    padding-top: 23px;
    background-color: #730220;
    color: #FBFBFD;
}

#txt2 {
    height: 183px;
    text-align: center;
    font-size: 35px;
    padding-top: 38px;
    background-color: #730220;
    margin-top: -43px;
    color: #FBFBFD;
    -webkit-box-shadow: 30px 30px 80px 0 #5C5353;
    box-shadow: 30px 30px 80px 0 #5C5353;
}

h2 {
    font-size: 44px;
    text-align: center;
    margin-right: 54px;
}
a {
    font-size: 28px;
    text-align: center;
    margin-right: 376px;
}
#video1 {
    margin-right:215px;
}

ul li {
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 25px;
}
form {
    margin-right: 144px;
    padding-bottom: 47px;
}

